<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Admin</title>
</head>
<body>
<h1>Admin munue</h1>
<p sec:authentication="name"></p>
<form th:action="@{/logout}" method="post">
    <a href="/admin/post">post!</a>
    <br/>
    <input type="submit" value="注销"/>
</form>
</body>
</html>